*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: Arial;
	padding: 30px;
}

h1{
	margin-bottom: 10px;
}

.form{
	width: 400px;
	display: flex;
	flex-direction: column;
}

#langprog{
	max-width: 110px;
}

#submit{
	width: 30%;
}